<nav class="navbar navbar-dark navbar-expand-sm bg-dark">
  <p class="navbar-brand mb-0">Admin</p>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
          <a class="nav-link" href="/sobre">Sobre mi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/conocimiento">Conocimientos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/portafolio">Portafolio</a>
        </li>
    </ul>
  </div>
  <a class="btn btn-outline-light" href="/logout">Cerrar Sesión</a>
</nav>