<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <p class="navbar-brand m-0 mr-4">Admin</p>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/sobre">Sobre mi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/conocimiento">Conocimientos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/experiencia">Experiencia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/portafolio">Portafolio</a>
        </li>
      </ul>
    </div>

    <a class="btn btn-primary" href="/">Ver Sitio</a>
  </nav>
</header>