<section class="experiencia" id="formacion">
  <div class="container">
    <div class="row experiencia__controles">
      <ul class="nav nav-pills mx-auto" id="pills-tab" role="tablist">
        <li class="nav-item mx-2">
          <a class="nav-link py-3 px-5 experiencia__control active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Estudios</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link experiencia__control py-3 px-5" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Experiencia</a>
        </li>
      </ul>
    </div>
    <div class="row">
      <div class="tab-content mx-auto" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
          <ul class="lista cronologia p-0">
            <li class="cronologia__elemento d-flex align-items-center text-light mb-4">
              <p class="fecha text-right">2011 - 2016</p>
              <span>
                  <div class="rombo">
                    <div class="stick"></div>
                  </div>
                </span>
              <div class="actividad">
                <h4 class="actividad__nombre m-0 font-weight-bold">Ingenieria en Electrónica</h4>
                <p class="actividad__lugar m-0">Instituto Tecnológico de Veracruz</p>
              </div>
            </li>
            <li class="cronologia__elemento d-flex align-items-center text-light mb-4">
              <p class="fecha text-right">2018 - Actualidad</p>
              <span>
                  <div class="rombo">
                    <div class="stick"></div>
                  </div>
                </span>
              <div class="actividad">
                <h4 class="actividad__nombre m-0 font-weight-bold">Desarrollador Web</h4>
                <p class="actividad__lugar m-0">Estudiante en Platzi <a class="text-light" href="https://platzi.com/@Danramz/" target="_blank">Ve mi perfil</a></p>
              </div>
            </li>
          </ul>
        </div><!-- estudios div el nombre no esta en la clase -->
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
          <ul class="lista cronologia p-0">
            <li class="cronologia__elemento d-flex align-items-center text-light mb-4">
              <p class="fecha text-right">2016</p>
              <span>
                  <div class="rombo">
                    <div class="stick"></div>
                  </div>
                </span>
              <div class="actividad">
                <h4 class="actividad__nombre m-0 font-weight-bold">Desarrollador de FPGAs</h4>
                <p class="actividad__lugar m-0">Instituto de Investigación y Desarrollo Tecnológico de la Armada de México</p>
              </div>
            </li>
          </ul>
        </div><!-- experiencia div el nombre no esta en la clase -->
      </div>
    </div>
  </div><!-- .container -->
</section><!-- section .experiencia -->