:root {
  --bg-linear-gradient: linear-gradient(to right, #137ed6, #00dbd7);
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  font-family: "Roboto", serif;
  font-size: 16px;
}

body.user-page {
  background: var(--bg-linear-gradient);
}

button.navbar-toggler:focus {
  outline-color: #fff;
}

.datos-personales .imagen {
  margin: 0;
  height: 450px;
  overflow: hidden;
}

.datos-personales .imagen img {
  position: relative;
  top: -100px;
}

.datos-personales .contenido > p:first-child {
  margin: 20px 0 5px;
}

.datos-personales .contenido .datos p {
  margin-bottom: 6px;
  font-size: 18px;
}

.datos-personales .contenido .datos p > svg {
  margin-right: 10px;
}

.datos-personales .contenido .redes-sociales a {
  padding-bottom: 10px;
}

.seccion-blanca {
  position: absolute;
  height: 350px;
  z-index: -1;
  top: 350px;
}

.sobre-mi .sobre-mi__texto {
  line-height: 28px;
}

.sobre-mi .conocimientos {
  margin-top: 30px;
  padding: 50px 0 80px;
}

.sobre-mi .conocimientos .conocimiento .progress-bar {
  background-image: var(--bg-linear-gradient);
}

.experiencia {
  padding: 100px 0;
}

.experiencia__controles {
  margin-bottom: 90px;
}

.experiencia__control {
  background-color: rgba(255, 219, 215, 0.5);
  color: white;
}

.experiencia__control:hover {
  color: white;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: white;
  color: #2e2e2e;
  transition-duration: 0.3s;
}

.experiencia .tab-content {
  max-width: 600px;
  width: 100%;
}

.cronologia__elemento .fecha {
  width: 250px;
  margin: 0;
}

.cronologia__elemento .actividad {
  width: 280px;
}

.actividad .actividad__lugar {
  color: rgba(255, 255, 255, 0.85);
}

.cronologia__elemento span {
  margin: 0 30px;
}

.rombo {
  margin: 0 auto;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
  position: relative;
}

.rombo .stick {
  position: absolute;
}

.portafolio .trabajos .trabajo:nth-last-child(1) {
  margin-bottom: 0 !important;
}

.portafolio .trabajos .trabajo:nth-child(even) .trabajo__imagen {
  order: 2;
}

.portafolio .trabajos .trabajo .trabajo__imagen {
  margin: 0;
  padding: 0;
}

.portafolio .trabajos .trabajo .trabajo__imagen img {
  width: 100%;
}

.portafolio .trabajos .trabajo .trabajo__info .enlace:hover {
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .seccion-blanca {
    display: none;
  }

  .portafolio .trabajos .trabajo:nth-child(even) .trabajo__imagen {
    order: 0;
  }
}

@media screen and (max-width: 368px) {
  .experiencia .experiencia__controles ul {
    justify-content: center;
  }

  .experiencia .experiencia__controles ul li {
    width: 180px;
    text-align: center;
  }

  .experiencia .experiencia__controles ul li:first-child {
    margin-bottom: 10px;
  }

  .cronologia__elemento .fecha {
    width: 135px;
  }
}
